<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= image_tag(category.icon, class: "portrait") %>
    <%#= category.icon %>
  </p>
</div>
