<%= render 'partials/header', back_label: '< Logout', back_link: destroy_user_session_path, destroy: 'session', header: 'Categories' %>
<div class="mb-5">
  <div id="categories">
    <% @categories.each do |category| %>
      <%= render category %>
    <% end %>
  </div>
  <%= link_to "Add category", new_category_path, class: 'fixed-bottom bg-white app-text text-decoration-none shadow btn text-center border-top' %>
</div>

